/*****************/
/* CSS VARIABLES */
/*****************/
:root {
  /* Color */
  --color-primary: #ffa000;
  --color-secondary: #ffc107;
  --color-white: #ffffff;
  --color-light: #a3a3a3;
  --color-grey: #858585;
  --color-dark: #545454;
  --color-black: #000000;
  --color-info: #209cee;
  --color-success: #48c774;
  --color-warning: #ffdd57;
  --color-error: #ff3860;
  --color-disabled: #8e8e8e;

  /* Content */
  --color-border: #686868;
  --color-background: #22272e;

  /* Input */
  --input-height: 35px;

  /* Text */
  --letter-spacing: 1px;
  --color-font: #8b9eb0;
  --color-link: var(--color-secondary);
  --color-placeholder: #6e7d8b;

  /* Font Size */
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size: 14px;
  --font-weight-bold: bold;

  /* Spacing Size */
  --spacing-double: 48px;
  --spacing: 24px;
  --spacing-half: 12px;
  --spacing-quarter: 8px;

  /* Misc Size */
  --border-radius: 4px;

  /* Button Colors */
  --btn-color: #333333;
  --color-disabled-color: var(--color-disabled);
  --color-disabled-background: var(--color-background);
}

/*****************/
/* TYPOGRAPHY */
/*****************/
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-style: italic;
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  color: inherit;
  padding: 0 0 var(--spacing-quarter) 0;
  text-rendering: geometricPrecision;
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
  text-underline-offset: 4%;
  text-decoration-thickness: 3px;
}

/*****************/
/* BUTTONS */
/*****************/
button,
.btn {
  display: inline-flex;
  flex: 0 0 auto;
  align-self: flex-start;
  height: var(--input-height);
  min-height: var(--input-height);
  width: auto;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-quarter);
  color: var(--btn-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-quarter) var(--spacing-half);
  cursor: pointer;
  background-color: var(--color-primary);
  text-align: center;
  user-select: none;
  white-space: nowrap;
  border: none;
  border-radius: var(--border-radius);
  vertical-align: middle;
  box-shadow: 0 0 0 0 transparent rgba(0, 0, 0, 0);
  transition: all 0.3s ease;

  &:hover {
    filter: brightness(110%);
  }
}
